.address {
  font-style: normal;
}

.address__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.address__link {
  color: #fff;
}

.address__link {
  font-size: 26px;
  line-height: 35px;
  text-decoration: none;
}

.address__schedule {
  position: relative;
  color: #98A4A8;
  cursor: pointer;
}

.address__schedule:hover {
  color: #FFFFFF;
}

.address__schedule:hover +.address__desc{
  display: block;
}

.address__schedule:hover {
  text-decoration: underline;
}
  

.address__desc {
  display: none;
  position: absolute;
  background: url("../../img/square.png") center center /cover no-repeat;
  height: 93px;
  top: 80px;
  right: 223px;
}

.address__desc-container {
  padding: 30px 20px 20px 15px;
}

.address__desc-text {
  font-weight: 600;
  font-size: 13px;
  line-height: 21px;
  color: #1E1F20;
}

.address__desc-text-reg {
  padding-bottom: 15px;
}

.address__desc-text-strong {
  font-weight: 700;
}

.address__geo {
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  color: #9A9A9A;
  padding-bottom: 2px;
}