.breadcrumbs__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 23px;
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
}

.breadcrumbs__item-link {
  text-decoration: underline;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #9A9A9A;
}

.breadcrumbs__item-link-active {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #9A9A9A;
  text-decoration: none;
}

.breadcrumbs__item-link-active:before {
  font-weight: 400;
  padding-left: 4px;
  padding-right: 4px;
  content: "/";
}

