.partners {
  background: #F4F5F5;
  color: #1A1B1E;
  padding: 88px 0;
}

.partners__title {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 100px;
}

.partners__link {
  text-decoration: none;
  display: flex;
  width: 210px;
  height: 50px;
  align-items: center;
  justify-content: center;
  filter: grayscale(100%);
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -80px;
}

.partners__item {
  margin-left: 80px;
  margin-bottom: 85px;
}

.partners__link:hover {
  filter: grayscale(0);
}